@import '~antd/dist/antd.less';
@primary-color: #fa8c16;

.ant-layout-content {
  background-color: #ffffff;
}

.page-content {
  padding: 60px;
}

/* Banner Image */
.top-img-container {
  position: relative;
  text-align: center;
}

.top-img-exterior {
  width: 100%;
  height: auto;
  filter: brightness(70%);
}

.top-img-title {
  font-size: 2rem;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  white-space: wrap;
  
}

@media (min-width:800px) {
  .top-img-title{
    font-size: 3rem;
  }
}

/* Mission, Vision */

.title-underline {
  width: 35px;
  height: 4px;
  background-color: @primary-color;
  border-style: none;
  margin-left: 0;
  margin-bottom: 30px;
}

/* Contact Us */
.icon {
  display: flex;
  color: @primary-color;
  font-size: 1.2rem;
}

/* About Us */
#about-us-header-container {
  text-align: center;
  padding: 20px 130px 40px 130px;
}

#about-us-header-container p {
  font-weight: 200;
}

.about-us-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 100px 40px 100px;
}

.about-us-imgs {
  margin: 30px;
  width: 50%;
}

.about-us-text {
  margin: 30px;
  width: 50%;
  font-weight: 200;
}

/* Join Us, Our Team, Statement, ChurchWide, Event */
.main-container {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

.thick-line{
  width: 35px;
  height: 4px;
  background-color: @primary-color;
  border-style: none;
}

.services-pages-img {
  height: 300px; 
  width: 300px;
}

.edit-delete-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  color: @primary-color;
}