.DS_Store
.vscode
archive
TODO.txt

# client
/client/node_modules
/client/.env
/client/build
/client/src/data

# server
/server/
/server/.git
/server/build
/server/node_modules
/server/.env
/server/serviceAccountKey.json
/server/mongodb-import-cmds.txt
/server/mongodb-import-data.sh
/server/mongodb-export-data.sh
/server/data-json
/server/data-backup
/server/requests