.DS_Store
.vscode
archive

# client
/client/node_modules
/client/.env
/client/build
/client/src/data-en
/client/src/data-ch

# server
/server/
/server/.git
/server/build
/server/node_modules
/server/.env
/server/serviceAccountKey.json
/server/mongodb-import-cmds.txt
/server/mongodb-import-data.sh
/server/data-en-json
/server/data-ch-json
/server/requests